#logo {
  filter: invert(100%)
}

#title {
  font-size: 18pt;
  font-weight: bold;
  text-anchor: middle;
}

#xAxisGroup text, #yAxisGroup text {
  font-size: 10pt;
}

#xLegend {
  font-weight: bold;
}

#yLegend {
  font-weight: bold;
  text-anchor: middle;
}

#tooltip {
  position: absolute;
  max-width: 200px;
  padding: 5px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}